.features {
	text-align: center;
	h3 {
		font-size: 22px;
		line-height: 1.4;
		margin-top: 0;
		color: #4D9A9F;
		font-weight: 300;
	}
	.icon {
		font-size: 60px;
		//color: darken($secondary-bg-color, 25%);
		color: #4D9A9F;
	}
}
